<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">Flower Shop</span>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="/about" class="nav-link px-2 link-dark">About</a></li>
        <li><a href="/" class="nav-link px-2 link-dark">Catalog</a></li>
        <li><a href="/articles" class="nav-link px-2 link-dark">Articles</a></li>
        <li><a href="/contact" class="nav-link px-2 link-dark">Contact</a></li>
      </ul>
      <div class="col-md-3 text-end">
        {% if session.logged_in %}
          <button type="button" class="btn btn-outline-primary me-2"><a href="/dashboard" class="nav-link">Dashboard</a></button>
          <button type="button" class="btn btn-primary"><a href="/logout" class="navlink">Logout</a></button>
        {% else %}
          <button type="button" class="btn btn-outline-primary me-2"><a href="/register" class="navlink">Sign Up</a></button>
          <button type="button" class="btn btn-outline-primary"><a href="/login" class="navlink">Login</a></button>
        {% endif %}
      </div>
        

    </header>
  </div>  